<?xml version="1.0"?>
<options>	
	<photons>200000</photons>	
	<!-- <model>CornellBox-Original.obj</model>
	<fileName>original.phmap</fileName>	 -->
	<!-- <model>CornellBox-Mirror.obj</model>
	<fileName>mirror.phmap</fileName> -->
	<!-- <model>CornellBox-Sphere.obj</model>
	<fileName>spheres.phmap</fileName> -->
	<model>CornellBox-Empty-RG.obj</model>
	<fileName>empty_rg.phmap</fileName>
	<light x="0" y="1.5" z="0" r="0.85" g="0.85" b="0.85"/>	
</options>
